<div id="menu-target">
    <br/>
    <ul>
        <li><i class="fa fa-home"></i><a href="https://www.briandouglas.me">Home</a></li>
        <li><i class="fa fa-twitter"></i><a href="http://twitter.com/bdougieYO">Twitter</a></li>
        <li><i class="fa fa-github"></i><a href="http://github.com/bdougie">Github</a></li>
        <li><i class="fa fa-paper-plane"></i><a href="mailto:hello@briandouglas.me?Subject=Hello%20Brian!">Email</a></li>
        <li><i class="fa fa-headphones"></i><a href="https://www.thisdevelopingstory.com">Podcast</a></li>
        <li><i class="fa fa-archive"></i><a href="http://bit.ly/c000000de">Archived Blog</a></li>
        <li><i class="fa fa-rss"></i><a href="https://briandouglas.me/feed.xml">RSS</a></li>
    </ul>
</div>

