<div id="menu-target">
    <br/>
    <ul>
        <li><i class="fa fa-home"></i><a href="http://blog.brianllamar.com">Home</a></li>
        <li><i class="fa fa-twitter"></i><a href="http://twitter.com/brianllamar">Twitter</a></li>
        <li><i class="fa fa-github"></i><a href="http://github.com/brianllamar">Github</a></li>
        <li><i class="fa fa-paper-plane"></i><a href="mailto:hello@briandouglas.me?Subject=Hello%20Brian!">Email</a></li>
        <li><i class="fa fa-headphones"></i><a href="http://podcast.brianllamar.com">Podcast</a></li>
        <li><i class="fa fa-archive"></i><a href="http://bit.ly/c000000de">Archived Blog</a></li>
    </ul>
</div>

