<span class="menu-trigger animated fadeInDown">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</span>

<!-- if the user has javascript disabled they can still use the menu -->
<noscript>
    <div class="no-js-menu">
        <ul>
          <li><i class="fa fa-home"></i><a href="https://www.briandouglas.me">Home</a></li>
          <li><i class="fa fa-twitter"></i><a href="http://twitter.com/bdougieYO">Twitter</a></li>
          <li><i class="fa fa-github"></i><a href="http://github.com/bdougie">Github</a></li>
          <li><i class="fa fa-paper-plane"></i><a href="mailto:hello@briandouglas.me?Subject=Hello%20Brian!">Email</a></li>
          <li><i class="fa fa-headphones"></i><a href="https://thisdevelopingstory.com">Podcast</a></li>
          <li><i class="fa fa-archive"></i><a href="http://bit.ly/c000000de">Archived Blog</a></li>
        </ul>
    </div>
</noscript>
<!-- end no script -->

<div class="site-info">
  <img src="/img/brian.jpg" id="my-head" class="floating-head hidden-xs hidden-sm hidden-md"/>
  <div class="primary-info">
      <h1>This Developing Journey</h1>
      <p><a href="http://twitter.com/bdougieYO">as told by Brian Douglas</a></p>
  </div>
  <div class="secondary-info">
  </div>
</div>

