---
pageable: true
---
<main class="container left-container">
  <div class="row">

    <%= partial 'layouts/menu' %>

      <section class="sidebar col-md-5 col-sm-12" style="background-image: url(img/default-sidebar-1.jpg">
        <%= partial 'layouts/sidebar' %>
      </section><!-- end sidebar -->

      <section class="col-md-10 col-sm-12 col-md-offset-5 main-content">

          <div class="sub-nav">
              <a href="#" class="select-posts active">Posts</a>
              <%# <a href="#" class="select-categories">Categories</a> %>
          </div>

          <%= partial 'layouts/post' %>
         
          <div class="home-page-categories hide animated fadeIn ">
            <div class="category row">
              <section>
                <div class="category-preview col-xs-6 col-sm-4 ">
                  <h2>Easy Living</h2>
                  <a href="category.html"><img src="img/cover-2.jpg" alt="category-image"></a>  
                </div>
              </section>
            </div>
          </div>
          <footer class="split-footer">
            <i class="link-spacer"></i>
            <a href="http://twitter.com/bdougieYO">Brian</a>
          </footer>

    </section><!-- main content -->

    </div> <!--/row -->

</main> <!-- /container -->

